[submodule "1-boston_housing"]
	path = 1-boston_housing
	url = https://github.com/moisesvw/boston_housing
[submodule "2-finding_donors"]
	path = 2-finding_donors
	url = https://github.com/moisesvw/finding_donors
[submodule "3-customer_segments"]
	path = 3-customer_segments
	url = https://github.com/moisesvw/customer_segments
[submodule "4-object-classification"]
	path = 4-object-classification
	url = https://github.com/moisesvw/image-classification-cfar10
[submodule "5-dog-breed"]
	path = 5-dog-breed
	url = https://github.com/moisesvw/dog-project
[submodule "6-smartcab"]
	path = 6-smartcab
	url = https://github.com/moisesvw/smartcab
[submodule "7-cervix-screening"]
	path = 7-cervix-screening
	url = https://github.com/moisesvw/mlnd-cervix-screening
